<div class="grey">
  <div class="container">
    <div class="row">
      <div class="col-6 center">
        <form
          action="/admin/crearArticulo"
          method="POST"
          enctype="multipart/form-data"
          class=""
          data-parsley-validate=""
        >
          <h2 class="m-5 display-5 text-center">Crear un articulo</h2>
          <div class="form-group">
            <label for="title">Titulo</label>
            <input
              type="text"
              class="form-control mb-3"
              name="title"
              id="title"
              aria-describedby="helpId"
              placeholder="Ingrese un titulo"
              required=""
              data-parsley-required-message="Por favor ingrese un titulo"
              aria-describedby="helpId"
            />
            <label for="contenido">Contenido</label>
            <textarea
              class="form-control mb-3"
              name="contenido"
              id="contenido"
              rows="5"
              placeholder="Contenido del articulo . . ."
              required=""
              aria-describedby="helpId"
            ></textarea>
            <label for="image">Seleccion una imagen</label>
            <input
              type="file"
              class="form-control-file"
              name="imagen"
              id="imagen"
              placeholder=""
              required=""
              data-parsley-required-message="Por favor suba una imagen para el articulo"
              aria-describedby="fileHelpId"
            />
            <small id="fileHelpId" class="form-text text-muted mb-5"
              >Suba un archivo JPG o PNG</small
            >
            <% if (user[0].user === 'root') { %>
                  <div class="row mt-3">
                    <div class="col-3">
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          Autores
                        </button>
                        <div
                          class="dropdown-menu"
                          id="selected"
                          aria-labelledby="dropdownMenuButton"
                        >
                          <% for (var i = 0; i < authors.length; i++) { %>
                          <div class="dropdown-item" id="">
                            <div class="row">
                              <div class="col-8">
                                <p id="selected">
                                  <%- authors[i].id + ' - ' + authors[i].nombre + ' '
                                  + authors[i].apellido%>
                                </p>
                              </div>
                            </div>
                          </div>
                          <% } %>
                        </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <a
                        name="add-author"
                        id="btnModal"
                        class="btn btn-secondary"
                        role="button"
                        >+ Agregar Autor</a
                      >
                    </div>

                    <div class="col-5">
                      <input
                        type="text"
                        class="form-control mb-3"
                        name="id"
                        id="id_input"
                        aria-describedby="helpId"
                        placeholder="Id del autor..."
                        required=""
                        data-parsley-required-message="Por favor ingrese el id del autor"
                      />
                    </div>
                  </div>
            <% } else { %>
              
                <input
                  type="hidden"
                  class="form-control mb-3"
                  name="id"
                  id="id_input"
                  value="<%- user[0].id %>"
                />
              
            <% } %>

            

            <button
              name=""
              id=""
              class="btn btn-success p-2 mt-4"
              href=""
              type="submit"
              role="button"
            >
              Crear articulo
            </button>

          </div>
        </form>

        <div id="myModal" class="modal">
          <div class="container">
            <div class="modal-content">
              <div class="">
                <h2 class="title text-center">Agregar autor</h2>
                <form
                  action="/admin/crearAutor"
                  method="POST"
                  class="row center"
                  data-parsley-validate=""
                >
                  <div class="col-2"></div>
                  <div class="col-8 mt-3 mb-3">
                    <label for="name">Nombre</label>
                    <input
                      type="text"
                      class="form-control mb-3"
                      name="name"
                      id="name"
                      aria-describedby="helpId"
                      placeholder="Ingrese un nombre"
                      required=""
                      data-parsley-required-message="Por favor ingrese el nombre del autor"
                      aria-describedby="helpId"
                    />
                    <label for="sur">Apellido</label>
                    <input
                      type="text"
                      class="form-control mb-3"
                      name="surname"
                      id="surname"
                      aria-describedby="helpId"
                      placeholder="Ingrese un apellido..."
                      required=""
                      data-parsley-required-message="Por favor ingrese el apellido del autor"
                      aria-describedby="helpId"
                    />
                    <label for="email">Email</label>
                    <input
                      type="email"
                      class="form-control mb-3"
                      name="email"
                      id="email"
                      aria-describedby="helpId"
                      placeholder="Ingrese un email..."
                      required=""
                      data-parsley-required-message="Por favor ingrese el email del autor"
                      data-parsley-pattern="^[a-zA-Z0-9_.]+[@][a-zA-Z_]+\.[a-zA-Z_]+\.?[a-zA-Z_]+\.?[a-zA-Z_]+\.?"
                      data-parsley-pattern-message="Por favor, ingrese un email de autor valido"
                      aria-describedby="helpId"
                    />
                    <div class="botones">
                      <button
                        name=""
                        id=""
                        type="submit"
                        class="close btn"
                        role="button"
                      >
                        Agregar autor
                      </button>
                      <button name="" id="" class="close btn" role="button">
                        Cancelar
                      </button>
                    </div>
                  </div>
                  <div class="col-2"></div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
